
@font-face {
  font-family: RopaSans;
  src: url('./downloads/RopaSans-Regular.ttf');
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E6E6E6;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #666666; 
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
/* KEYFRAMES */
@keyframes fade-down{
  0%{
    opacity:0;
    transform: translateY(-30px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* Animations */
.animated-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animated-section.animated {
  opacity: 1;
  transform: translateY(0);
}

body{
  margin:0;
}

li, a, button {
  font-family: "RopaSans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  text-decoration:none;
  align-items: center;
}

.header{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #E6E6E6;
  opacity: 90%;
}

.logo {
  font-size: 32px;
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-family: RopaSans;
  cursor: pointer;
  margin-right: auto;
  animation: fade-down 0.5s;
  padding-left: 20px;
  padding-top: 20px;
}
.nav_links{
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
  animation: fade-down 2.0s;
}

.nav_links li a:hover{
  color: #0008a9;
}

.LandingPage{
  padding-top: 125px;
  font-family: RopaSans;
  font-weight: 700;
  background-color: #E6E6E6;
  width: 100%;
}

.LandingPageText{
  font-size: 52px;
  text-align: center;
  animation: fade-down 2.0s;
  padding-bottom:5px;
  padding-top:5px;
}
.FillerText{
  font-size: 72px;
  padding: 20px 20px;
  animation: fade-down 2.0s;
}
.LandingPageImage{
  display: grid;
  height: 50%;
  animation: fade-down 2.0s;
}
.center-fit {
  max-width: 40%;
  max-height: 80vh;
  margin: auto;
}


.aboutMe{
  background-color: #262626;
  font-family: RopaSans;
  padding-bottom: 30px;
}

.sectionTitle {
  padding-top: 20px;
  font-size: 60px;
  font-family: RopaSans;
  font-weight: 300;
  text-align:center;
  color:#ffffff;
  background-color:#262626;
}

.aboutMeSubTitle{
  color: #E6E6E6;
  font-weight: 500;
  font-size: 36px;
  margin-left: 20px;
}

.aboutMeContainer{
  display:flex;
}
.aboutMeParagraph{
  color: #E6E6E6;
  font-weight: 500;
  font-size: 24px;
  margin-left: 20px;
  width: 50vw;
}

.aboutMePicture{
  width: 50vw;
  padding-right:30px;
}
.aboutMePicture img{
  width: 75%;
  height: 75%;
  height: auto;
}

.sectionTitleInverted {
  padding-top: 20px;
  font-size: 60px;
  font-family: RopaSans;
  font-weight: 300;
  text-align:center;
  color:#262626;
}

.experience-info{
  color: #262626;
  font-family: RopaSans;
  font-weight: 500;
  font-size: 24px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.projects-container{
  background-color: #262626;
}

