@font-face{
    font-family: Monaco;
    src:url(/downloads/Monaco.ttf)
}

body{
    background-color: #f5f9ff;
    margin: 0px;
    font-family: "Monaco", sans-serif;
    
}
main{
    margin: 20px;

}

h1{
    text-align: center;
    font-size: 2.5 em;
    color: #747fe0;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}
.navbar a{
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    color: #747fe0;
    text-decoration-line:   
}

.navbar li{
    float: right;
}

.navbar li::after {
    background-color: #747fe0;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
}

.navbar li:hover:after{
    width: 100%;
}