@font-face{
    font-family: Monaco;
    src:url(downloads/Monaco.ttf)
}

.heroTitle {
    font-family: Monaco;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
}

body{
    padding-left: 3.0rem;
    padding-right: 5.5rem;
    font-family: Monaco;
    
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 3 equal-width columns */
    gap: 20px; /* Adds some space between grid items */
}

.grid-item {
    font-size:18px;
    padding: 20px; /* Add some padding inside the grid items */
    text-align: left; /* Center the text */
    border: 1.5px solid #ccc; /* Optional: Add a border to the grid items */
    border-color:black;
    
}

.grid-item a {
    display: flex; /* Make the anchor a flex container */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center items vertically */
    align-items: flex-start; /* Align items to the left */
    width: 100%; /* Fill the entire grid item */
    height: 100%; /* Fill the entire grid item */
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color from parent */
}
.subtext{
    font-size:14px;
}
.grid-item:hover{
    border-color: red;
    color: red;
}
@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr; /* Make the grid items stack vertically */
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    body {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}