
    
    body {
        margin: 0;
        padding: 0;
        background-color: #8b4513;
        color: #000;
        font-family: 'Barlow', sans-serif;
        font-weight: 300;
    }

    .top-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #E7CEB5;
        padding: 10px;
        text-align: center;
        font-size: 1rem;
        opacity: 1;
        z-index: 9999;
        display: flex;
        align-items: center;
        border-bottom: 5px solid #000000;
    }

    .top-bar h2 {
        color: #000;
        margin: 0;
        padding-left: 10px;
    }

    nav {
        margin-left: auto;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline-block;
        margin-right: 30px;
    }

    nav ul li a {
        color: #000;
        text-decoration: none;
        font-size: 1rem;
    }
    nav ul li a.active{
        text-decoration: underline;
    }
  
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
    }

    section h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    section p {
        max-width: 800px;
        margin: 0 auto;
        font-size: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .terminal-container {
        background-color: #000000;
        color: #E7CEB5;
        padding: 2px;
        font-family: 'Barlow', sans-serif;
        height: 300px;
        width: 850px;
        text-align: left;
        border-top: 30px solid #E7CEB5;
        border-radius: 20px;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }

    .circleRed {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(255, 60, 0);
        top: -23px;
        left: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }

    .circleYellow {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(235, 194, 44);
        top: -23px;
        left: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);

    }

    .circleGreen {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgb(1, 213, 1);
        top: -23px;
        left: 65px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);

    }



    #about {
        background-color: #000000;
        color: #E7CEB5;
        padding: 20px;
        width: 850px;
        height: 450px;
        margin: 0 auto;
        border-radius: 20px;
        border-top: 30px solid #E7CEB5;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        margin-bottom: 200px;
    }
    .circle1 {
        position: absolute;
        width: 15px;
        height: 15px;
        top:-23px;
        left:15px;
        border-radius: 50%;
        background-color: rgb(255, 60, 0);
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);

    }
    .circle2 {
        position: absolute;
        width: 15px;
        height: 15px;
        top:-23px;
        left:40px;
        border-radius: 50%;
        background-color: rgb(235, 194, 44);     
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }
      .circle3 {
        position: absolute;
        width: 15px;
        height: 15px;
        top:-23px;
        left:65px;
        border-radius: 50%;
        background-color: rgb(1, 213, 1);    
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }
    .about-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
    }

    .about-image {
        flex: 0 0 auto;
    }

    .about-text {
        flex: 1 1 auto;
        padding-left: 20px;
    }

    .about-text p {
        margin-bottom: 10px;
        align-items: left;
    }
    .circle4 {
        position: absolute;
        width: 15px;
        height: 15px;
        top:-23px;
        left:15px;
        border-radius: 50%;
        background-color: rgb(255, 60, 0);
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);

    }
    .circle5 {
        position: absolute;
        width: 15px;
        height: 15px;
        top:-23px;
        left:40px;
        border-radius: 50%;
        background-color: rgb(235, 194, 44);     
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }
      .circle6 {
        position: absolute;
        width: 15px;
        height: 15px;
        top:-23px;
        left:65px;
        border-radius: 50%;
        background-color: rgb(1, 213, 1);    
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
      }
    #resume {
        background-color: #000000;
        color: #E7CEB5;
        padding: 20px;
        width: 850px;
        height: 650px;
        margin: 0 auto;
        border-radius: 20px;
        border-top: 30px solid #E7CEB5;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        margin-bottom: 200px;
    }
    .resume-content{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
     
    }
    
    .education{
        text-align: left;
        margin-left: auto;
        padding-bottom: 30px;
        margin-top: -10px;
    }
   
    .education h2,
    .education h3,
    .education h4 {
        text-align: left;
       
    }
   
    .education span {
        margin-left: auto;
    }
    .experience {
        text-align: left;
        margin-left: auto;
        padding-bottom: 20px;
    }
    .job-experience {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .job-experience span {
        margin-left: auto;
    }
    
    .skills h2,
    .skills h3,
    .skills h4 {
        text-align: left;
        padding-bottom: 20px;
    }
      
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .icon-wrapper {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
      
      .icon-wrapper img {
        width: 50px; /* Adjust the size as needed */
        height: auto;
      }
      
      .icon-wrapper span {
        margin-top: 5px; /* Adjust the spacing between the icon and text */
        font-size: 14px; /* Adjust the font size as needed */
      }
      
      #projects {
        background-color: #000000;
        color: #8b4513;
        padding: 20px;
        width: 850px;
        margin: 0 auto;
        border-radius: 20px;
        border-top: 30px solid #E7CEB5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        margin-bottom: 200px;
      }
      .circle10 {
        position: absolute;
        width: 150px;
        height: 150px;
        top:-23px;
        left:15px;
        border-radius: 50%;
        background-color: rgb(255, 60, 0);
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);

    }
    .circle11 {
        position: absolute;
        width: 15px;
        height: 15px;
        top:-23px;
        left:40px;
        border-radius: 50%;
        background-color: rgb(235, 194, 44);     
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }
      .circle12 {
        position: absolute;
        width: 15px;
        height: 15px;
        top:-23px;
        left:65px;
        border-radius: 50%;
        background-color: rgb(1, 213, 1);    
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
      }
      
      .projects h2 {
        margin: 0;
      }
      
      .project {
        padding: 20px;
        margin-top:0;
    }
      
      .main-project {
        background-color: #E7CEB5;
        margin-top:-200px;  
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
      }
      .main-project img {
        max-width: 500px;
        max-height: auto;
        border-radius:20px;

      }
      
      .other-projects {
        display: flex;
      }
      
      .other-projects .project {
        flex: 1;
        margin-right: 10px;
      }
      
      .other-projects .project:last-child {
        margin-right: 0;
      }
      

    #contact {
        background-color: #000000;
        color: #E7CEB5;
        padding: 20px;
        width: 450px;
        height: 250px;
        margin: 0 auto;
        border-radius: 20px;
        border-top: 30px solid #E7CEB5;
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        margin-bottom: 200px;
    }
    .circle7 {
        position: absolute;
        width: 15px;
        height: 15px;
        top:-23px;
        left:15px;
        border-radius: 50%;
        background-color: rgb(255, 60, 0);
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);

    }
    .circle8 {
        position: absolute;
        width: 15px;
        height: 15px;
        top:-23px;
        left:40px;
        border-radius: 50%;
        background-color: rgb(235, 194, 44);     
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }
      .circle9 {
        position: absolute;
        width: 15px;
        height: 15px;
        top:-23px;
        left:65px;
        border-radius: 50%;
        background-color: rgb(1, 213, 1);    
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
      }
    .contact-icons {
        display: flex;
        gap: 45px; /* Adjust the gap as needed to control the spacing between icons */
      }
      
      .contact-icons img {
        width: 96px; /* Change this to your desired width */
        height: 96px; /* Change this to your desired height */
      }
      