@font-face{
    font-family: Monaco;
    src:url(downloads/Monaco.ttf)
}

.heroTitle {
    font-family: Monaco;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
}

body{
    padding-left: 3.0rem;
    padding-right: 10.5rem;
    font-family: Monaco;
    
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 3 equal-width columns */
    gap: 20px; /* Adds some space between grid items */
}

.grid-item {
    font-size:18px;
    padding: 20px; /* Add some padding inside the grid items */
    text-align: left; /* Center the text */
    border: 1px solid #ccc; /* Optional: Add a border to the grid items */
    border-color:black
}
.subtext{
    font-size:14px;
}
@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr; /* Make the grid items stack vertically */
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
    body {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}