@font-face { font-family: Courgette; 
  src: url('./downloads/Courgette-Regular.ttf'); 
}
@font-face {
  font-family: Oswald;
  src: url('./downloads/Oswald-Regular.ttf');
} 

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white	;
  color: black;
}

header {
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  
}

nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;  
}

.centered-nav {
  text-align: center; /* Center the text inside the nav */
}

.centered-nav ul {
  padding: 0;
  list-style: none;
}

.centered-nav ul li {
  display: inline;
  margin: 0 20px; /* Add spacing between list items */
}

.centered-nav ul li a {
  text-decoration: none; /* Remove underline from links */
}

.container {
  width: auto;
  margin: 0 auto;
  color: black;
}
.container h1{
  font-family: Courgette;
  font-size: 60px;
}

.container p{
  font-size: 26px;
  font-family: Oswald;
}
section {
  padding: 40px 0;
}

.project {
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.contact-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 3px solid #000 ;
  border-radius: 10px;
  box-shadow: 8px 10px #3f4b3b;

}
.timeline {
  position: relative;
}


.timeline-date {
  width: 165px;
  font-weight: 900;
}
.timeline-content {
  margin-left: 30px; /* Check this margin */
}

.timeline-item {
  margin-bottom: 30px;
}


/* Additional styling for aesthetics */
.timeline-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 75px; /* Half of the width of timeline-date */
  height: 100%;
}

.skills-list {
  list-style: none; /* Remove default list styles */
  padding: 0;
  text-align: center;
}

.skills-list li {
  display: inline-block; /* Display list items horizontally */
  margin: 10px; /* Add space between list items */
  padding: 10px 10px; /* Add padding inside the list items */
  text-align: center;
  line-height: 36px;
}


.icons-container i {
  font-size: 48px; /* Adjust the font size to make the icon bigger */
  display: block;
  margin: 0 auto;
  text-align: center;
}

.text {
  margin-top: 5px;
}
.center-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; /* Center horizontally */
}

.content-container {
  width: 80%;
  margin: 0 auto;
  border: 3px solid #000 ;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 8px 10px #3f4b3b;
}

@media (max-width: 768px) {
  /* On smaller screens, display list items vertically */
  nav ul li {
      display: inline-block;
      justify-content: center;
      margin-right: 0px; /* Add spacing between vertically stacked list items */
  }
}
.terminal-container {
  width: 80%;
  margin: 0 auto;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 15px;
  background-color: #000;
  color: #fff; /* Set text color to white */
  font-family: "Cascadia Code", monospace; /* Use Cascadia font with a fallback to monospace */
  box-shadow: 8px 10px #3f4b3b;
}

.mac-bar {
  background-color: black; /* Background color of the bar */
  padding: 10px; /* Padding for content inside the bar */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  width: 100%; /* Make the bar span the full width of the parent container */
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-left: -15px;
}
.mac-button {
  width: 15px;
  height: 15px;
  border-radius: 50%; /* Makes the shape a circle */
  margin-left: 10px; /* Add spacing between the buttons */
  box-shadow: 3px 2px #3f4b3b;;
}

.close-button {
  background-color: #ff5f56; /* Red color for close button */
}

.minimize-button {
  background-color: #ffbd2e; /* Yellow color for minimize button */
}

.maximize-button {
  background-color: #28ca42; /* Green color for maximize button */
}
.mac-bar1 {
  background-color: white; /* Background color of the bar */
  padding: 10px; /* Padding for content inside the bar */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  width: 100%; /* Make the bar span the full width of the parent container */
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-left: -15px;
}


.bg {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
}
